<!--

Generated template for the WalkerPage page.



See http://ionicframework.com/docs/components/#navigation for more info on

Ionic pages and navigation.

-->

<ion-header>



	<ion-navbar style="font-weight: normal;">
	
	<ion-title>{{walker.name}}</ion-title>
	
	</ion-navbar>
	
	
	
	</ion-header>
	
	
	
	
	
	<ion-content no-padding style="overflow-y: hidden;">
	
	
	
		<ion-row>
	
			<ion-col col-12>
	
				<div *ngFor="let item of items | async" class="walkerVideo">
	
					<video controls="controls" poster="https://images.unsplash.com/photo-1490596541415-5afadbfbbf02?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6648b450dbe757608f0c4ed85eef6256&auto=format&fit=crop&w=1618&q=80" preload="metadata" width="400" webkit-playsinline="webkit-playsinline" class="videoPlayer">
	
	
	
						<source [src]="item.video" type="video/webm"/>
	
					 </video>
	
					 
	
					 <!-- <iframe src="https://www.youtube.com/embed/5p_jMOLBhYo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
	
				
	
	
	
				<!--<iframe [src]="sanitizer.bypassSecurityTrustUrl(walker.video)" width="400"></iframe>-->
	
	
	
				<!--<iframe src="https://www.youtube.com/embed/5p_jMOLBhYo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
	
	
	
				</div>
	
	
	
			</ion-col>
	
		</ion-row>
	
	
	
		<ion-row padding class="credentials"
	
		>
	
		<ion-col text-center col-3>
	
			<ion-label style="color: #488aff;" text-wrap>Certificates</ion-label>
	
		</ion-col>
	
	
	
			<!-- <ion-col text-center col-4 [ngStyle]="{'border-right': '2px solid #EDEDED'}">
	
	
	
				<ion-label> Certificates 
	
	
	
				</ion-label> -->
	
	
	
			
	
	
	
			<ion-col text-center col-3 [ngStyle]="{'border-right': '2px solid #EDEDED', 'border-left': '2px solid #EDEDED'}">
	
	
	
				<ion-label text-wrap> Background Checked 
	
					<div>
	
						<img src="assets/imgs/badge.svg" height="30px" />
	
					</div>
	
				</ion-label>
	
	
	
			</ion-col>
	
	
	
			<ion-col text-center col-3 [ngStyle]="{'border-right': '2px solid #EDEDED'}">
	
	
	
				<ion-label text-wrap> Health Insurance 
	
					<div>
	
						<img src="assets/imgs/health.svg" height="30px" />
	
					</div>
	
	
	
				</ion-label>
	
	
	
			</ion-col>
	
	
	
			<ion-col text-center col-3>
	
				<ion-label style="color:#488aff;" text-wrap> See Ratings 
	
					<div>
	
						<ion-icon [name]="index < rate ? 'star' : 'star-outline'"></ion-icon>
	
						<ion-icon [name]="index < rate ? 'star' : 'star-outline'"></ion-icon>
	
						<ion-icon [name]="index < rate ? 'star' : 'star-outline'"></ion-icon>
	
						<ion-icon [name]="index < rate ? 'star' : 'star-outline'"></ion-icon>
	
						<ion-icon [name]="index < rate ? 'star' : 'star-outline'"></ion-icon>
	
					</div>
	
	
	
				</ion-label>
	
			</ion-col>
	
	
	
		</ion-row>
	
		<ion-scroll scrollY=true style="width: 100%; height: 20%;" >
	
	
	
			<ion-row class="info">
	
				
	
				<ion-col col-12 class="info">
				
	
						<ion-item class="info">
	
							<ion-label class="info"> NAME </ion-label>
	
							<ion-label *ngFor="let item of items | async" class="info"> {{ item.first_name+' '+item.last_name | uppercase}} </ion-label>
	
	
	
						</ion-item>
	
	
	
	
	
						<ion-item class="info">
	
	
	
							<ion-label class="info"> ABOUT ME </ion-label>
	
							<ion-label *ngFor="let item of items | async" class="info" text-wrap> {{ item.about }} </ion-label>
	
	
	
						</ion-item>
	
	
	
	
	
						<ion-item class="info">
	
	
	
							<ion-label class="info"> TRUST </ion-label>
	
							<ion-label *ngFor="let item of items | async" class="info"> {{ item.trust }} </ion-label>
	
	
	
						</ion-item>
	
				</ion-col>
	
	
	
			</ion-row>
	
	
	
		</ion-scroll>
	
	
	
		<!--
	
		<ion-row padding>
	
	
	
			<button ion-button color="secondary" block round (click)="contact()"> Contact Walker </button>
	
	
	
		</ion-row>
	
	-->
	
	
	
		<!--
	
		 <ion-row>
	
	
	
			<ion-col col-6>
	
			 <button ion-button icon-right outline text-wrap>
	
			 Contact Walker 
	
			 <ion-icon name="call"></ion-icon>
	
			 </button>
	
			</ion-col>
	
	
	
			<ion-col col-6>
	
		 <button ion-button outline text-wrap (click)="message()">
	
		 Message Walker 
	
		 <ion-icon name="mail"></ion-icon>
	
		 </button>
	
		   </ion-col>
	
	
	
	  </ion-row>
	
	-->
	
	
	
		<ion-row padding>
	
	
	
				<button large ion-button color="orange" (click)="contact()" block round> Ask A question 
	
					<ion-icon name="mail"></ion-icon>
	
				</button>
	
	
	
		</ion-row>
	
	
	
	
		<ion-row padding>
	
	
	
				<button large ion-button color="orange" (click)="requestWalker()" block round> Request this Walker </button>
	
	
	
		</ion-row>
	
	
	
	</ion-content>​
	