page-walker {

	ion-scroll {
		white-space : no-wrap;
	}

	ion-navbar {
		font-weight : normal;
	}

}

.walkerVideo {
	max-width : 100% !important;
}

video {
	width : 100% !important;
	height : 45% !important;
}

.info {
	background-color: #F1F1F1;
}



