page-book-walk {

      /*
      .item-md .radio-md input:checked + .radio-content{
            color:yellow;
      }
      */
   
   }
   
   /*
   #pet {
         position : absolute;
         left : 50%;
         top : 50%;
         margin-left : -120px;
         margin-top : -120px;
   },
   */
   
   .picture-container {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .btn-wrap {
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      text-align: right;
      .button {
         
         display: inline-block;
         max-width: 100px;
         background-color: #F3BE16;
         color: #FFF;
         float: right;
         &:hover {
            background-color: #F3BE16;
         }
      }
   }
   .bookwalk-profile-pic {
      display: block;
       width: 100%;  
       text-align: center;
      @media (max-width: 360px) {
         display: inline-block;
         width: 100%;
         text-align: center;
      }
      .profile1-image {
         top: 10%;
         left: 33%;
         display: block;
         // transform: translateX(-30%)
         @media (max-width: 360px) {
            left: 0;
            display: inline-block;
         }
      }
   
   }
   .bookwalk-pet-pic {
      width: 59%;
      position: relative;
      text-align: center;
      margin: 0 auto;
      /*padding-left: 140px;*/ 
      @media (max-width: 360px) {
         display: inline-block;
         width: 100%;
         text-align: center;
         margin-top: 10px;
      } 
      .col {
         text-align: center;
         left:14%;
         padding: 0;
         p {
            text-align: center;
            margin-left: -28%;
         }
         .checkbox {
            left: -14%;
         }     
      }
      .pet-image {
         position: relative;
         top: 0;
         bottom: 0;
         max-width: 90px;
         margin-top: -12px;
         left: 0;
         @media (max-width: 360px) {
            left: 0;
            margin: 0;
         }
      }
   }
   
   .profile1-image {
      height: 120px;
      width: 120px;
      border-radius: 120px;
      position: relative;
      border : 10px solid transparent;
      box-shadow : 0 0 0pt 1px rgb(243, 190, 22);
      border-radius : 100%;
      z-index: 1;
      top: 0;
      left : 10%;
      display : block;
   }
   
   .pet-image {
      width: 90px;
      height: 90px;
      border-radius: 120px;
      position: absolute;
      z-index: 2;
      top: 60px;
      left: 50%;
      border : 10px solid transparent;
      box-shadow : 0 0 0pt 1px rgb(243, 190, 22);
      border-radius : 100%;
      margin-left : -15px;
      margin-top: 50px;
   
   }
   
   #pics {
         height : 200;
   }